<section id="timeline" class="timeline">
    <h2 class="sec-header">A Timeline of the Donut</h2>
    <ul>
        <li class="timeline-event">
            Fried dough develops around the world. It's just that obvious!
        </li><time>1800</time>
        <time>1850</time>
        <li class="timeline-event">
            Frying stuff gets rounder and the center falls out </li>
        <li class="timeline-event">
            Dude! Real donuts! They get popular cause of coffee </li class="timeline-event"><time>1900</time>
        <time>1915</time>
        <li class="timeline-event">
            Wartime donuts. It's a thing. Google it. </li>
        <li class="timeline-event">
            Classic donut shop donuts get invented because of tensions in europe </li><time>1935</time>
        <time>1955</time>
        <li class="timeline-event">
            The invention of neon lights prompts a new innovation in the donut shop esthetic </li>
        <li class="timeline-event">
            The invention of neon lights prompts a new innovation in the donut shop esthetic </li><time>1955</time>
    </ul>
</section>