<section id="types" class="types">
        <h2 class="sec-header">Types of donuts!</h2>
        <div class="type-card-box">
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type1.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type2.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type3.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type4.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type5.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type6.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type7.jpg" />
                </div>
                <div class="type-card"><img src="{{site.baseurl}}/assets/images/type8.jpg" />
                </div>
        </div>
</section>